

@font-face {
font-family: 'Typeface0';
src: url('_polyfill/Typeface0.woff2') format('woff2'),
url('_polyfill/Typeface0.woff') format('woff');}

@font-face {
font-family: 'Typeface';
src: url('_polyfill/Typeface.woff2') format('woff2'),
url('_polyfill/Typeface.woff') format('woff');}

body,input,button {
font-family: 'Typeface';}

.delta,.nu,.mu,.eta,.zeta {
font-family: 'Typeface0';}


/* mobile ios */

#meta input {
border-radius: 0;}

.nu,.mu,.eta,.zeta {
height: 100%;}

.delta {
width: 20%;}

.omicron {
padding:0;}







/* -- */
* {box-sizing: border-box;
background-repeat: no-repeat;
background-position: center;
background-size: contain;}

body {
width: 100%;
height: 100%;
margin: 0px;
position: fixed;}

.handsontable th {
background-color: #F0F0F0;}

.handsontable .htDimmed {
color: Black;}
.handsontable td.htInvalid {
background-color: White;}

.introjs-progress {
border-radius: 0px;}

.introjs-progress,
.introjs-progressbar {
box-shadow: 0 0 1px Black inset;}

.introjs-tooltip {
font-size: 15px;}

.introjs-bullets ul li {
margin: 2px;}

.introjs-tooltiptext > div {
margin-bottom: 2px;
padding-bottom: 3px;
border-bottom: 1px solid DarkGray;}


/* -- */
.beta button {
width: 34px;
height: 34px;
border: 1px solid Silver;
background-color: #F0F0F0;
position: absolute;}

.beta button:hover,
.beta button:active {
border: 1px solid Black;}

.delta {
height: 31px;
font-size: 12px;
border: 1px solid Transparent;
box-shadow: 0 0 0px 1px Silver inset;
background-color: #F0F0F0;
background-clip: padding-box;}

.delta.q {
background-color: White;}
.delta:hover {
box-shadow: 0 0 0px 1px Black inset;}
.delta:active {
background-color: White;}

.gamma {
display: none;
width: 100%;
height: 100%;
font-size: 13px;
overflow: hidden;}

.kappa {
width: 100%;
height: 34px;
border: 1px solid Transparent;
box-shadow: 0 0 0px 1px Silver inset;
background-clip: padding-box;}

.lambda {
flex-grow: 1;
flex-wrap: wrap;}


/* -- */
.theta button {
width: 34px;
height: 34px;
border: 1px solid Silver;
background-color: #F0F0F0;}
.theta button:hover {
border: 1px solid Black;}

.beta div,
.theta {
width: 68px;
height: 68px;
font-size: 13px;
box-shadow: 0 0 0px 1px Silver inset;
border: 1px solid transparent;
text-align: center;
background-clip: padding-box;
background-color: White;}

.theta {
justify-content: center;
align-items: center;
display: flex;}

.nu,.mu {
box-shadow: 0 0 0px 1px Silver inset;
border: 1px solid Transparent;
background-clip: padding-box;
background-color: #F0F0F0;}

.nu:hover,
.mu:hover {
box-shadow: 0 0 0 1px Black inset;}

.nu:active,
.mu:active {
background-color: White;}

.omicron {
width: 17%;
height: 36px;
font-size: 22px;
box-shadow: 0 0 0px 1px DarkGray inset;
border: 1px solid transparent;
background-clip: padding-box;
background-color: White;}
.omicron:hover {
box-shadow: 0 0 0 1px Black inset;}

.mu {
width: 17%;}
.nu {
padding: 1px;
font-size: small;
justify-content: center;
align-items: center;
display: flex;}

/* -- -- */

#iframe,
#iframe1 {
width: 100%;
height: 100%;
border: none;
position: fixed;}

#iframe1 {
min-height: 100%;}

#iframe1 > div {
left: 50%;
top: 50%;
width: 64px;
height: 64px;
margin-left: -32px;
margin-top: -32px;
border-radius: 50%;
z-index: 9999;
border: 8px solid rgba(0,0,0,0.2);
border-top: 8px solid rgba(0,0,0,0.6);
border-left: 8px solid rgba(0,0,0,0.6);
animation: spin 2s linear infinite;
border-style: dotted;
position: fixed;}


/* -- -- */
#frame {
left: 50%;
top: 2px;
width: 500px;
height: 500px;
transform: translate(-50%,0%);
border: 25px solid Transparent;
position: fixed;
flex-direction: column;
display: flex;}

#frame > div {
flex-basis: 10%;
font-size: 16px;
border: 1px solid Transparent;
text-align: center;
background-clip: padding-box;
background-color: White;}

#frame0 {
justify-content: center;
align-items: flex-start;
display: flex;}
#frame0 div {
width: 260px;
height: 26px;
margin-top: 6px;
font-size: 16px;
font-weight: bold;
cursor: default;}
#frame0 div:hover {
border-bottom: 1px solid DarkGray;}

#frame1 {
padding-top: 12px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
display: flex;}
#frame #frame1 {
flex-basis: 40%;
align-content: flex-start;}
#frame1 > div {
width: 260px;}
#frame1 .first {
width: 260px;
z-index: 1;
border-bottom: 1px solid Darkgray;
/*  */padding-bottom: 5px;}
#frame1 .last {
margin-bottom: 15px;
box-shadow: 0 0 0 5px white;
background-color: White;
flex-wrap: wrap;
display: flex;}
#frame1 .last div {
font-size: 13px;
width: 100%;
margin-top: 5px;
margin-bottom: 6px;
border-left: 1px solid Transparent;
margin-left: 1px;
margin-right: 1px;
cursor: default;}
#frame1 .last div:hover {
border-left: 1px solid DarkGray;}

#frame1 > .first > div:first-child {
border-top: 1px solid darkgray;
border-bottom: 1px solid darkgray;
margin-bottom: 2px;
padding-top: 3px;
padding-bottom: 3px;}

#frame4 {
width: 32%;
font-size: 14px;}


/* -- -- */
#meta {
left: 50%;
bottom: 20px;
width: calc(100% - 4px);
max-width: 1000px;
transform: translate(-50%,0);
position: fixed;}

#meta input {
font-size: 13px;
padding: 0px 10px;
text-align: center;
text-overflow: ellipsis;}


#meta > .first > div {
overflow: hidden;
position: relative;}
#meta > .last {
height: 70px;
display: flex;}

#meta1 {
flex-wrap: wrap;}


#meta0 > div {
width: 100%;
overflow: hidden;
position: relative;
display: flex;}




/* -- -- */
#present > div {
left: 50%;
top: 2px;
width: 382px;
height: 500px;
position: fixed;
align-content: center;
flex-wrap: wrap;
display: flex;}

#present span {
width: 10px;
height: 100%;
border: 1px solid DarkGray;}

#present .first {
margin-left: -650px;}
#present .first span {
margin-right: 10px;}
#present .first .alpha {
padding-right: 12px;
text-align: left;}

#present .last {
margin-left: 270px;}
#present .last span {
margin-left: 10px;}
#present .last .alpha {
padding-left: 12px;
text-align: right;}

/* #present > div > div strong {
font-weight: 600;} */

#present > div > div {
width: 100%;
margin-top: 8px;
font-size: 15px;
background-color: White;
display: flex;}

#present .alpha {
width: 254px;
padding-left: 5px;
padding-right: 5px;
text-align: center;}

#present .alpha div {
margin-bottom: 2px;
padding-top: 2px;
padding-bottom: 2px;
border-bottom: 1px solid DarkGray;/* thin */
border-top: 1px solid DarkGray;/* thin */}

#present .beta {
width: 88px;
height: 90px;
border: 1px solid DarkGray;
justify-content: center;
align-items: center;
display: flex;}


/* -- -- */
#table {
left: 0px;
right: 0px;
bottom: 0px;
/*  */height: 400px;
min-height: 118px;
max-height: calc(100% - 8px);
visibility: hidden;
position: fixed;
touch-action: none;
/* display: none; */}

#table .first { 
top: -20px;
width: 100%;
height: 20px;
background-color: Black;
opacity: 0.02;
cursor: n-resize;
position: absolute;}


/* -- -- */
#grid {
font-size: 12px;
justify-content: center;
align-items: center;
flex-wrap: wrap;}

#grid > div {
width: 100%;
justify-content: center;
display: flex;}

#grid span {
height: 58px;
margin-top: 0px;}

.stigma {
flex-basis: 12.5%;}
#grid div div {
flex-basis: 75%;
display: flex;}




/* -- -- */
#web {
flex-wrap: wrap;}

#web .epsilon {
width: 10%;
height: 30px;
font-size: 13px;
text-align: center;
box-shadow: 0 0 0px 1px Silver inset;
border: 1px solid transparent;
background-clip: padding-box;}

#web > div {
display: flex;}


/* -- -- */



#form0,
#form2 {
width: 36%;}
#form0 > div,
#form2 > div {
width: 100%;
height: 50%;
justify-content: space-around;
display: flex;}

#meta > .last input {
width: calc(24% - 2px);
border: 1px solid transparent;
box-shadow: 0 0 0px 1px Silver inset;
background-clip: padding-box;}

#form0 button,
#form2 button {
width: 20%;
font-size: 20px;
text-align: center;
border: 1px solid transparent;
box-shadow: 0 0 0px 1px Silver inset;
background-clip: padding-box;
background-color: #F0F0F0;}
#form0 button:hover,
#form2 button:hover {
box-shadow: 0 0 0 1px Black inset;}
#form0 button.q,
#form0 button.r,
#form2 button.q,
#form2 button.r {
background-color: White;}

#form1 {
width: 28%;
flex-wrap: wrap;
display: flex;}
#form1 div {
width: 100%;
display: flex;}
#form1 .last button {
font-size: 22px;
padding: 0px;
padding-top: 4px;}
#form1 .first {
height: 28px;
/* height: calc(40% - 0px); */}
#form1 .last {
height: 42px;
/* height: calc(60% - 0px); */}
#form1 #action0 {
background-color: White;
width: 32%;
font-size: 16px;}
#action5 {
width: 64px;}
#action6 {
width: 32%;}
#action5,
#action7 {
width: 34%;}


/* -- -- */
.white span,.white .beta {background-color: White;}
.gainsboro span,.gainsboro .beta {background-color: Gainsboro;}
.wheat span,.wheat .beta {background-color: Wheat;}
.gold span,.gold .beta {background-color: Gold;}
.crimson span,.crimson .beta {background-color: Crimson;}
.mediumvioletred span,.mediumvioletred .beta {background-color: MediumVioletRed;}
.mediumseagreen span,.mediumseagreen .beta {background-color: MediumSeaGreen;}
.seagreen span,.seagreen .beta {background-color: SeaGreen;}
.deepskyblue span,.deepskyblue .beta {background-color: DeepSkyBlue;}
.dodgerblue span,.dodgerblue .beta {background-color: DodgerBlue;}
.mediumslateblue span,.mediumslateblue .beta {background-color: MediumSlateBlue;}




.shadow {box-shadow: 0 0 1px DarkGray inset;}
.shadow0 {box-shadow: 0 0 1px Black inset;}
.border {border: 1px solid DarkGray;}
.border0 {border: 1px solid Black;}
.border1 {border: 1px solid Transparent;}
.background {background-color: White;}
.font1 {font-size: 13px;}
.font2 {font-size: 14px;}
/* .hover {}
.active {} */

